@import "../../styles/color.scss";

.confirm {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    padding: 10px;
    &.cancel {
      margin-left: 10px;
    }
  }
}