.mb-2 {
  margin-bottom: 20px;
}

.PrivateTabIndicator-colorSecondary-15 {
  background-color: #fff !important;
}

.login-icon {
  font-size: 30px;
}

.MuiCardHeader-title {
  font-size: 25px !important;
  font-weight: 500;
}