@import "./color.scss";
@import "./style.scss";
@import "./common.scss";
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

// linear-gradient(
//     38deg,
//     rgba(2, 0, 36, 1) 0%,
//     rgba(113, 0, 204, 1) 47%,
//     rgba(255, 0, 112, 1) 100%)

.login-page {
  background: rgb(2, 0, 36);
  background: $light-color;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  margin: 100px 50px;
  background: $light-color;
  height: 75%;
  box-shadow: 0 12px 40px rgba(0,0,0,.12);
  padding: 30px;
  .title {
    font-size: 24px;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .intro {
    text-align: center;
    margin-bottom: 20px;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  .forgot-password {
    margin: 25px 0;
    color: $primary-color;
    cursor: pointer;
  }
}

.title-logo {
  color: $primary-color;
  font-weight: 500;
}