@import "./color.scss";

html {
  scroll-behavior: smooth;
}

.upper-case {
  text-transform: uppercase;
}

.testing-page {
  margin-top: 1.3em;

  &-left {
    margin-right: 20px;
    background: $light-color;
    border-radius: 8px;
    box-shadow: 2px 3px 10px #c2c2c2 !important;
    .header,
    .body {
      margin: 0 30px;
    }
    .header {
      text-align: center;
      .title {
        padding-top: 15px;
        font-size: 2em;
        color: $color-title;
        font-weight: 500;
        opacity: .8;
      }
      .count-down {
        font-size: 2.2em;
        color: $red-color;
        font-weight: 500;
        letter-spacing: .854px;
      }
    }
    .body {
      margin-top: 10px;
      .question-list {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        .question-item {
          text-align: center;
          margin: 5px;
          padding: 12px;
          border-radius: 8px;
          cursor: pointer;
          font-size: 20px;
          font-weight: 500;
          background: $light-color;
          color: $primary-color;
          border: 1px solid $primary-color;
          transition: all .225s cubic-bezier(0.645, 0.045, 0.355, 1);
          text-decoration: none;
          &:hover {
            border: 1px solid $light-color;
            color: $light-color;
            background: $primary-color;
          }
        }
      }
      .button-group {
        margin: 10px 0;
        .button {
          width: 50%;
          &.send {
            border: 1px solid $red-color;
            color: $red-color;
            &:hover {
              background: $red-color;
              color: $light-color
            }
          }
          &.report {
            border: 1px solid $yellow-color;
            color: $yellow-color;
            width: 45%;
            margin-left: 10px;
            &:hover {
              background: $yellow-color;
              color: $light-color;
            }
          }
        }
      }
    }
    .footer {
      padding: 10px 20px;
      border-top: 1px solid rgba(177, 175, 175, 0.308);
      margin-top: 20px;
      text-align: left;
      font-size: 1.2em;
      color: $color-title;
      opacity: .75;
      padding-bottom: 10px;
      font-weight: 500;
      & > div:not(:first-child) {
        padding-top: 10px;
      }
    }
  }
  &-right {
    
    .header {
      background: #fff;
      border-radius: 8px;
      padding: 12px 0;
      box-shadow: 2px 3px 10px #c2c2c2 !important;
      .first-title {
        font-size: 1.5em;
        font-weight: 500;
        color: $color-title;
        opacity: .955;
      }
      .second-title {
        margin-top: 6px;
        display: flex;
        font-size: 18px;
        font-weight: 500;
        .test-minutes, .count-question {
          display: flex;
          align-items: center;
          .MuiSvgIcon-root {
            margin-left: 8px;
          }
        }
        .test-minutes {
          width: 20%;
          color: $red-color;
        }
        .count-question {
          width: 20%;
          color: $color-title;
          opacity: .8;
        }
      }
    }
  }
}

.question-item {
  background: $light-color;
  margin-top: 25px;
  border-radius: 8px;
  padding: 15px 20px;
  font-weight: 500;
  font-size: 17px;
  user-select: none;
  box-shadow: 2px 3px 10px #c2c2c2 !important;
  .title {
    .question-number, .score {
      color: $red-color;
    }
    .score {
      margin-left: 4px;
      margin-right: 12px;
    }
    .content {
      opacity: .8;
      line-height: 1.5;
    }
  }
  .answere {
    margin-top: 10px;
    .answere-item {
      display: flex;
      color: $color-title;
      .tick-icon {
        margin-right: 10px;
        cursor: pointer;
        .tick {
          color: $green-color;
        }
        .un-tick {
          color: $color-title
        }
      }
    }
  }
}
