@import "./color.scss";

.time-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
  .title {
    margin-bottom: 25px;
    color: $red-color;
    font-weight: 500;
    font-size: 35px;
  }
  button {
    margin-top: 15px;
  }
}